node_modules
dist
docs-dist
coverage
.turbo
.DS_Store
*.log
*.lock
*.tsbuildinfo
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.pem
*.key
*.crt
.DS_Store
Thumbs.db
*.zip
*.tar.gz
*.7z
*.exe
*.dll
*.so
*.dylib
*.log
*.cache
.dumi/tmp
.dumi/tmp-production
.dumi/tsconfig.json
.pack-check
*.tgz
.workbuddy
